.button {
    width: 200px;
    padding: 8px 20px;
    cursor: pointer;
    color: white;
    background-color: rgba($color: #000000, $alpha: 0.5);
}

.button_newTrip {
    border-image: url(../../img/button-border.png) 34% / 20px round;
    position: relative;
    left: 10vw;
    top: 30vh;
}

.button_newTrip:hover {
    color: rgb(76, 36, 255);
}

.button_home {
    border-image: url(../../img/button-border.png) 34% / 20px round;
}

.button_home:hover {
    color: rgb(247, 163, 7);
}
