.button {
    width: 200px;
    padding: 8px 20px;
    cursor: pointer;
    color: white;
    background-color: transparent;

    font-family: 'MuseoSansCyrl-100';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.button_newTrip {
    border-image: url(../../img/button-border.png) 34% / 20px round;
    position: relative;
    left: 10vw;
    top: 30vh;

    &:hover {
        color: rgb(76, 36, 255);
    }
}

.button_home {
    border-image: url(../../img/button-border.png) 34% / 20px round;
    position: relative;
    top: 10vh;

    &:hover {
        color: rgb(247, 163, 7);
    }
}
