.ref {
    // width: 200px;
    // padding: 8px 20px;
    cursor: pointer;
}

.text {
    height: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: white;
    @media (max-width: 550px) {
        font-size: 10px;
    }
}

.ref:hover {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba($color: rgb(125, 125, 125), $alpha: 1);
    color: rgb(125, 125, 125);
}
