.ref {
    cursor: pointer;
}

.text {
    height: 20px;
    font-family: 'MuseoSansCyrl-100';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: white;

    &:hover {
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(rgb(125, 125, 125), 1);
        color: rgb(125, 125, 125);
    }

    @media (max-width: 550px) {
        font-size: 10px;
    }
}
