@import '../../common/stylesConst.scss';

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    border: 1px solid rgba($color: rgb(125, 125, 125), $alpha: 1);

    &:hover {
        cursor: pointer;
    }
}

.card_order {
    background: linear-gradient(
        -45deg,
        rgba($color: rgb(125, 125, 125), $alpha: 0.5),
        transparent 100px
    );
    &:hover {
        animation: anim-shadow-top-left 0.4s ease-in-out forwards;
        border-bottom: 1px solid rgba($color: rgb(125, 125, 125), $alpha: 0.2);
        border-right: 1px solid rgba($color: rgb(125, 125, 125), $alpha: 0.2);
    }
}

@keyframes anim-shadow-top-left {
    to {
        box-shadow: inset -20px -20px 100px -50px rgba($color:
                    rgb(125, 125, 125), $alpha: 0.5);
    }
}

.card_garant {
    background: linear-gradient(
        45deg,
        rgba($color: rgb(125, 125, 125), $alpha: 0.5),
        transparent 100px
    );
    &:hover {
        animation: anim-shadow-top-right 0.4s ease-in-out forwards;
        border-bottom: 1px solid rgba($color: rgb(125, 125, 125), $alpha: 0.2);
        border-left: 1px solid rgba($color: rgb(125, 125, 125), $alpha: 0.2);
    }
}

@keyframes anim-shadow-top-right {
    to {
        box-shadow: inset 20px -20px 100px -50px
            rgba($color: rgb(125, 125, 125), $alpha: 0.5);
    }
}

.card_year {
    background: linear-gradient(
        225deg,
        rgba($color: rgb(125, 125, 125), $alpha: 0.5),
        transparent 100px
    );
    &:hover {
        animation: anim-shadow-bottom-left 0.4s ease-in-out forwards;
        border-top: 1px solid rgba($color: rgb(125, 125, 125), $alpha: 0.2);
        border-right: 1px solid rgba($color: rgb(125, 125, 125), $alpha: 0.2);
    }
}

@keyframes anim-shadow-bottom-left {
    to {
        box-shadow: inset -20px 20px 100px -50px
            rgba($color: rgb(125, 125, 125), $alpha: 0.5);
    }
}

.card_duration {
    background: linear-gradient(
        135deg,
        rgba($color: rgb(125, 125, 125), $alpha: 0.5),
        transparent 100px
    );
    &:hover {
        animation: anim-shadow-bottom-right 0.4s ease-in-out forwards;
        border-top: 1px solid rgba($color: rgb(125, 125, 125), $alpha: 0.2);
        border-left: 1px solid rgba($color: rgb(125, 125, 125), $alpha: 0.2);
    }
}

@keyframes anim-shadow-bottom-right {
    to {
        box-shadow: inset 20px 20px 100px -50px rgba($color: rgb(125, 125, 125), $alpha:
                    0.5);
    }
}

.lowText {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: white;
    @media (max-width: 550px) {
        font-size: 10px;
    }
}

.highText {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 20px;
    color: white;
    @media (max-width: 550px) {
        font-size: 30px;
    }
}
