@import '../../common/stylesConst.scss';

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    &:hover {
        cursor: pointer;
    }
}

.card_order {
    background: linear-gradient(
        -45deg,
        rgba(rgb(125, 125, 125), 0.5),
        transparent 100px
    );
    &:hover {
        animation: anim-shadow-top-left 0.4s ease-in-out forwards;
        border-bottom: 1px solid rgba(rgb(125, 125, 125), 0.2);
        border-right: 1px solid rgba(rgb(125, 125, 125), 0.2);
        p {
            color: white;
        }
    }
}

@keyframes anim-shadow-top-left {
    to {
        box-shadow: inset -20px -20px 100px -50px rgba(rgb(125, 125, 125), 0.5);
    }
}

.card_garant {
    background: linear-gradient(
        45deg,
        rgba(rgb(125, 125, 125), 0.5),
        transparent 100px
    );
    &:hover {
        animation: anim-shadow-top-right 0.4s ease-in-out forwards;
        border-bottom: 1px solid rgba(rgb(125, 125, 125), 0.2);
        border-left: 1px solid rgba(rgb(125, 125, 125), 0.2);
        p {
            color: white;
        }
    }
}

@keyframes anim-shadow-top-right {
    to {
        box-shadow: inset 20px -20px 100px -50px rgba(rgb(125, 125, 125), 0.5);
    }
}

.card_year {
    background: linear-gradient(
        225deg,
        rgba(rgb(125, 125, 125), 0.5),
        transparent 100px
    );
    &:hover {
        animation: anim-shadow-bottom-left 0.4s ease-in-out forwards;
        border-top: 1px solid rgba(rgb(125, 125, 125), 0.2);
        border-right: 1px solid rgba(rgb(125, 125, 125), 0.2);
        p {
            color: white;
        }
    }
}

@keyframes anim-shadow-bottom-left {
    to {
        box-shadow: inset -20px 20px 100px -50px rgba(rgb(125, 125, 125), 0.5);
    }
}

.card_duration {
    background: linear-gradient(
        135deg,
        rgba(rgb(125, 125, 125), 0.5),
        transparent 100px
    );
    &:hover {
        animation: anim-shadow-bottom-right 0.4s ease-in-out forwards;
        border-top: 1px solid rgba(rgb(125, 125, 125), 0.2);
        border-left: 1px solid rgba(rgb(125, 125, 125), 0.2);
        p {
            color: white;
        }
    }
}

@keyframes anim-shadow-bottom-right {
    to {
        box-shadow: inset 20px 20px 100px -50px rgba(rgb(125, 125, 125), 0.5);
    }
}

.lowText {
    font-family: 'MuseoSansCyrl-100';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: rgb(125, 125, 125);
    @media (max-width: 550px) {
        font-size: 12px;
    }
}

.highText {
    font-family: 'MuseoSansCyrl-700';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    color: white;
    margin: 0 auto;
    @media (max-width: 550px) {
        font-size: 30px;
    }
}
