@import '../../common/stylesConst.scss';

.header {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba($color: rgb(125, 125, 125), $alpha: 0.5);
    border-bottom: 1px solid rgba($color: rgb(125, 125, 125), $alpha: 0.5);
    background-color: rgba($color: #000000, $alpha: 0.25);
}

.header_container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 30%;
    height: 100%;
    border-image: url(../../img/logo-border.png) 34% / 20px round;

    border-left: 1px solid rgba($color: rgb(125, 125, 125), $alpha: 0.5);
    border-right: 1px solid rgba($color: rgb(125, 125, 125), $alpha: 0.5);

    img {
        width: 90%;
        position: relative;
        bottom: 5px;
        left: 5%;
        height: 100%;
        object-fit: contain;
    }
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 32px;
    gap: 30px;
    justify-content: center;

    width: 70%;
    height: 30px;
    // @media (max-width: 1398px) {
    //     width: 90%;
    // }
}
