// colors
$color_grey400: #9ca3af;
$color_grey500: #6b7280;
$color_grey700: rgb(125, 125, 125);
$color_grey900: #111827;
$color_white: #ffffff;
$color_beige: #d1d5db;
$color_violet: #4f46e5;
$color_background: rgb(125, 125, 125);
$color_background_modal: rgba(107, 114, 128, 0.749);

// widths % breakpoints
$min_width: 320px;
$max_width: 1920px;
$max_width_container: 1358px;
$md1: $max_width_container + 20px;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;
